.hero {
    min-height: 100vh;


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-top: 80px;
}

.overlay{

    position:absolute;

    inset:0;

    background:rgba(255,255,255,.55);
}

.hero-content{

    position:relative;

    z-index:2;

    max-width:900px;

    padding:40px;
}

.logo-name{

    font-size:34px;

    color:#2563eb;

    margin-bottom:25px;
}

.hero h1{

    font-size:68px;

    margin-bottom:30px;

    color:#1459ee;
}

.hero h2{
    font-size:35px;
    color:#111827;
}

.hero h3{

    font-size:34px;

    color:#04050c;

    margin-bottom:30px;
}

.hero p{

    font-size:24px;
    color:#097e96d8;
    line-height:1.7;
    margin-top:20px;
    margin-bottom:50px;
}

.hero-buttons{

    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
    margin-top:30px;
}

.primary-btn{

    background:#2563eb;

    color:white;

    border:none;

    padding:18px 45px;

    border-radius:10px;

    font-size:20px;

    cursor:pointer;
}

.secondary-btn{

    background:white;

    color:#2563eb;

    border:2px solid #2563eb;

    padding:18px 45px;

    border-radius:10px;

    font-size:20px;

    cursor:pointer;
}
.title{
    margin-bottom:20px;
}
.heading{
    margin-bottom:18px;
}.tagline{
    transition:0.3s;
    cursor:pointer;
    margin-bottom:18px;
}

.title:hover{
    transform:translateY(-6px);
    color:#2563eb;
}

.heading:hover{
    transform:translateY(-5px);
    color:#2563eb;
}

.tagline:hover{
    transform:translateY(-4px);
    color:#2563eb;
}
.description:hover{
    transform:translateY(-3px);
    color:#2563eb;
    margin-bottom:45px;
}
.hero-content{
    animation:fadeIn 1.2s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
html{
    scroll-behavior: smooth;
}

.section{
    padding:100px 80px;
    text-align:center;
}

.section h2{
    font-size:42px;
    margin-bottom:20px;
    color:#2563eb;
}

.section p{
    font-size:20px;
    color:#555;
    max-width:800px;
    margin:auto;
    line-height:1.8;
}